.row {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  max-width: 952px;
  min-width: 300px;
  column-gap: 12px;
  width: 100%;
  border: none;
}

.input {
  flex-grow: 1;
  max-width: 204px;
  width: 100%;
}

.button {
  width: 100%;
  max-width: 362px;
  font-size: 16px;
}

.button_s {
  composes: button;
  max-width: 175px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 120px auto 0 auto;
  padding: 0;
  column-gap: 50px;
  list-style: none;
  width: fit-content;
  max-width: 1440px;
  min-width: 300px;
}

.container_item {
  position: relative;
}

.container_item::after {
  position: absolute;
  content: "";
  display: block;
  border-top: 2px solid #0032ff;
  border-right: 2px solid #0032ff;
  top: calc(50% - 5px);
  right: -30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.container_item:last-child::after {
  position: absolute;
  content: "";
  display: none;
  border: none;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
}
